.red {
    color: red;
}

.zoom-70 {
    zoom: 70%;
}
.zoom-80 {
    zoom: 80%;
}

.reveal .wrap .code-wrapper code {
    text-wrap: inherit;
}

.reveal .small-code code {
    font-size: 0.6em;
    line-height: 1.3em;
}

.ctypes code {
    border-left: 3px solid pink;
}

.cffi code {
    border-left: 3px solid aqua;
}

code::before {
    float: right;
    color: #666;
    font-size: 0.6em;
}

code.language-py::before {
    content: "python";
}
code.language-c::before {
    content: "c";
}
code.language-h::before {
    content: "h";
}
